.header__lang-link {
    font-size: 1.125rem;
    line-height: 1.25;
    font-weight: normal;
    list-style: none;
  }
  @media screen and (min-width: 768px) {
    .header__lang-link {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }