.places__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #ffffff;
  }
  .places__link:hover {
    cursor: pointer;
    opacity: 0.3;
  }