.footer__link {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
}
.footer__link:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.125;
    margin: 0;
    margin-right: 18px;
  }
}
