.footer__copyright {
    margin: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }
  @media screen and (min-width: 768px) {
    .footer__copyright {
      line-height: 16px;
    }
  }
  