.cover {
    background-image: url(../../images/cover.jpg);
    min-height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .cover::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opacity 0.4s ease;
  }
  .cover:hover::before {
    opacity: 0.8;
  }
  @media screen and (min-width: 768px) {
    .cover {
      min-height: 480px;
    }
  }
  @media screen and (min-width: 1024px) {
    .cover {
      min-height: 640px;
    }
  }
  @media screen and (min-width: 1280px) {
    .cover {
      min-height: 740px;
      max-width: 1184px;
      margin-left: auto;
      margin-right: auto;
    }
  }