.cover__title {
  margin: 0;
  margin: 33px 16px 16px 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
  position: relative;
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .cover__title {
    margin: 115px 104px 32px 104px;
    font-size: 72px;
    line-height: 1.05;
    min-width: 560px;
  }
}
@media screen and (min-width: 1024px) {
  .cover__title {
    margin: 195px 232px 32px 232px;
  }
}
@media screen and (min-width: 1280px) {
  .cover__title {
    margin: 245px 312px 32px 312px;
  }
}
